version: "3.9"
services:
  app:
    build: .
    container_name: ocr_app
    ports:
      - "8000:8000"
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      DYNAMODB_TABLE: ${DYNAMODB_TABLE}
      S3_BUCKET: ${S3_BUCKET}
    volumes:
      - .:/app
